* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

button {
	padding: .25em;
	cursor: pointer;
}

#wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& > main {
		width: 100%;
		max-width: 500px;
		height: 50%;
	}
}

.record-add-form {
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid #bebebe;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	& > input {
		padding: .25em;
		flex-grow: 1;
	}
}

.record-list {
	& > header {
		margin-bottom: 1em;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	& > main {
		overflow-y: scroll;
		max-height: 500px;

		.record-list-entry {
			padding: 1em;
			margin-bottom: .5em;
			border: 1px solid #bebebe;

			& > header {
				font-size: .8em;
				margin-bottom: 1em;
				border-bottom: 1px solid #bebebe;
				color: #707070;
			}

			& > main {

			}
		}
	}
}
